@font-face {
    font-family: 'kRegularFont';
    src: url('assets/Outfit/fonts/Outfit-Regular.ttf');
}
@font-face {
    font-family: 'kBoldFont';
    src: url('assets/Outfit/fonts/Outfit-Bold.ttf');
}

#body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('assets/bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: fi;
    width: 100%;
}

input:focus {
    outline: none;
}

.data-box {
    opacity: 1;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}

#icon {
    width: 180px;
    height: 180px;
    background-image: url('assets/sunny.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    padding-right: 100px;
    margin-right: 50px;
}

#humid-icon {
    width: 60px;
    height: 60px;
    background-image: url('assets/humidity.png');
    background-size: cover; 
    background-position: center;
}
#wind-icon {
    width: 60px;
    height: 60px;
    background-image: url('assets/wind.png');
    background-size: cover; 
    background-position: center;
}
#ppt-icon {
    width: 70px;
    height: 70px;
    background-image: url('assets/ppt-icon.png');
    background-size: contain; 
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 10px;
}
#uv-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-image: url('assets/uv.png');
    background-size: contain; 
    background-position: center;
}


#temp {
    font-size: 60px;
    font-weight: bold;
    font-family: kBoldFont;
}

#location {
    margin-top: 30px;
    font-size: 30px;
    font-family:  kRegularFont;
    flex: 1;
}

#desc {
    font-size: 30px;
    padding-top: 20px;
    font-family:  kRegularFont;
}

.data {
    font-size: 40px;
    font-family: kRegularFont;
    
    
}
.subtext {
    font-size: 18px;
    font-weight: lighter;
    font-family: kRegularFont;
    transition: trasform 0.1s ease-in-out;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.title-row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 90%;
    margin: 0px;
    flex: 1;
}
.main-row {
    display: flex;
    z-index: 1;
    flex-direction: row; 
    align-items: center;
    margin: 50px;
}
.column {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#transparent-box {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    position: relative;
    z-index: 3;
}


.search-container {
    display: flex;
    align-items: center;
    width: 300px; 
    padding: 10px;
}

#search-icon {
    background-color: transparent;
    border: none;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    background-image: url('assets/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

#search-icon:focus {
    transform: scale(1.2); 
}

#search-icon:active {
    transform: scale(0.8);
}



#search-input{
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 16px;
    border: none;
    width: 300px;
    justify-content: center;
    flex: 1;
    margin-right: 10px;
    
}

#convert-button {
    background-image: url('assets/convert.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0%;
    top: 40%;
    left: 95%;
    bottom: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: trasform 0.3s ease-in;
}


#convert-button:active {
    transform: scale(0.9);
}

#logo {
    width: 80px;
    height: 80px;
    background-image: url('assets/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}

#top-row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-left: 20px;
}

#name {
    font-size: 60px;
    font-weight: bold;
    font-family:  'Outift', '';
    margin-left: 20px;
    position: relative;
    font-family: kBoldFont;
}