<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CliMate</title>
    <link type="text/css" rel="stylesheet" href="../css/history.css">
    <link rel="icon" href="../assets/icon.png" type="image/png">

</head>
<body id="body">
    <div id="column">
        <div id="title">History</div>
        <div id="box">
            <div id="row">
                <div class="row">
                    <div id="icon"></div>
                    <div id="text-data">Delhi, New Delhi</div>
                </div>
                <div id="text-data">20 C</div>
            </div>
        </div>
        <div id="box">
            <div id="row">
                <div class="row">
                    <div id="icon"></div>
                    <div id="text-data">Delhi, New Delhi</div>
                </div>
                <div id="text-data">20 C</div>
            </div>
        </div>
    
    </div>
</body>
</html>