<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CliMate</title>
    <link type="text/css" rel="stylesheet" href="../css/history.css">
    <link rel="icon" href="../assets/icon.png" type="image/png">

</head>
<body id="body">
    <script src="../scripts/history.js"></script>
    <div id="column">
        <div id="row">
            <div id="back-icon"></div>
            <div id="title">History</div>
            <div id="empty"></div>
        </div>
        <ul id="history-list"></ul>
    
    </div>
</body>
</html>