@font-face {
    font-family: 'kRegularFont';
    src: url('../assets/Outfit/fonts/Outfit-Regular.ttf');
}
@font-face {
    font-family: 'kBoldFont';
    src: url('../assets/Outfit/fonts/Outfit-Bold.ttf');
}


#body {
    background: linear-gradient(rgb(112, 215, 255), rgb(22, 31, 160)) no-repeat fixed center;
    display: flex;
    justify-content: start;
    align-items: start;
    min-height: 100vh;
    margin: 20px;
}

#title {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    font-family: kBoldFont;
    margin-bottom: 20px;
}


#column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
#row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    flex: 1;
    justify-content: space-between;
    width: 100%;
}

#back-icon {
    width: 40px;
    height: 40px;
    background-image: url('../assets/back.png');
    background-size: contain;
    background-position: center;
    margin-bottom: 30px;
}

#back-icon:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}


#history-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}

.history-entry {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.history-entry:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
}

.text-data {
    font-size: 20px;
    font-family: kRegularFont;
    padding-left: 10px;
    padding-right: 10px;
}
