@font-face {
    font-family: 'kRegularFont';
    src: url('../assets/Outfit/fonts/Outfit-Regular.ttf');
}
@font-face {
    font-family: 'kBoldFont';
    src: url('../assets/Outfit/fonts/Outfit-Bold.ttf');
}

#body {
    background: linear-gradient(rgb(112, 215, 255), rgb(22, 31, 160)) no-repeat fixed center;
    display: flex;
    justify-content: start;
    align-items: start;
    min-height: 100vh;
    margin: 20px;
}

#column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

input:focus {
    outline: none;
}

.data-box {
    border: none;
    margin: 10px;
    flex: 1;
}

#icon {
    width: 200px;
    height: 200px;
    background-image: url('../assets/sunny.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    align-items: center;
}

#humid-icon {
    width: 60px;
    height: 60px;
    background-image: url('../assets/humidity.png');
    background-size: cover; 
    background-position: center;
}
#wind-icon {
    width: 60px;
    height: 60px;
    background-image: url('../assets/wind.png');
    background-size: cover; 
    background-position: center;
}
#ppt-icon {
    width: 70px;
    height: 70px;
    background-image: url('../assets/ppt-icon.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}
#uv-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-image: url('../assets/uv.png');
    background-size: contain; 
    background-position: center;
}


#temp {
    font-size: 50px;
    font-weight: bold;
    font-family: kBoldFont;
}

#location {
    font-size: 30px;
    font-family:  kRegularFont;
    flex: 1;
}

#desc {
    font-size: 25px;
    padding-top: 10px;
    font-family:  kRegularFont;
}

.data {
    font-size: 30px;
    font-family: kRegularFont;
    
    
}
.subtext {
    font-size: 15px;
    font-weight: lighter;
    font-family: kRegularFont;
    transition: trasform 0.1s ease-in-out;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    flex: 1;
}
.title-row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 93%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.main-row {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 30px;

}
.column {
    display: flex;
    flex-direction: column; 
    align-items: center;

}

#transparent-box {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
    width: 60%;
    max-height: fit-content;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    position: relative;
    z-index: 3;
}


.search-container {
    display: flex;
    align-items: center;
    width: 300px; 
    padding: 10px;
    margin-bottom: 20px;
}

#search-icon {
    background-color: transparent;
    border: none;
    width: 10px;
    height: 10px;
    padding: 10px;
    cursor: pointer;
    background-image: url('../assets/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

#search-icon:focus {
    transform: scale(1.2); 
}

#search-icon:active {
    transform: scale(0.8);
}



#search-input{
    border-radius: 20px;
    padding: 16px;
    border: none;
    width: 300px;
    justify-content: center;
    margin-right: 10px;
    
}

#convert-button {
    background-image: url('../assets/convert.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: trasform 0.3s ease-in;
}


#convert-button:active {
    transform: scale(0.9);
}

#logo {
    width: 80px;
    height: 80px;
    background-image: url('../assets/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}

#navbar {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    justify-content: start;
}

#name {
    font-size: 50px;
    font-weight: bold;
    font-family:  'Outift', '';
    margin-left: 20px;
    position: relative;
    font-family: kBoldFont;
}


@media screen and (max-width:600px) {
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    #navbar {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: top;
    }

    .main-row {
       flex-direction: column;
       display: flex;
       margin: 30px;
    }

    #icon {
        margin-bottom: 10px;
        margin-right: 0px;
        width: 150px;
        height: 150px;
    }

    #name{
        margin-left: 0px;
        font-size: 40px;
    }
    #logo {
        margin-left: 0px;
        height: 100px;
    }

    #location {
        font-size: 25px;
    }

    .title-row {
        width: 90%;
    }
   
    #transparent-box {
        width: 90%;
        max-height: fit-content;
    }
}

@media only screen and (max-width: 1024px) and (min-width:600px){
    
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    #navbar {
        display: flex;
        flex-direction: row; 
        align-items: center;
        padding: 20px;
    }

    .main-row {
       flex-direction: column;
       display: flex;
       margin: 30px;
    }

    #icon {
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #name, #logo {
        margin-left: 10px;
    }

    .search-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #transparent-box {
        width: 90%;
        max-height: fit-content;
    }
}


#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #212121; 
    color: #fff; 
    text-align: center; 
    padding: 16px;
    position: fixed; 
    z-index: 4; 
    left: 50%; 
    bottom: 30px; 
    border-radius: 30px;
    opacity: 1;
    font-family: kRegularFont;
  }

 #history {
    width: 35px;
    height: 35px;
    background-image: url('../assets/history.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    align-items: center;
    cursor: pointer;
  }
  
    #history:active {
        transform: scale(0.9);
        
    }
  
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
 
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }